In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bereda,ES,2021-10-28 00:28:09,43.2686,-7.5406,51.01,100,5,2.42
1,1,Maua,BR,2021-10-28 00:28:10,-23.6678,-46.4614,68.36,97,100,4.21
2,2,Saint-Philippe,RE,2021-10-28 00:28:10,-21.3585,55.7679,69.39,78,29,5.79
3,3,Hambantota,LK,2021-10-28 00:28:10,6.1241,81.1185,75.54,100,100,4.61
4,4,Rikitea,PF,2021-10-28 00:28:11,-23.1203,-134.9692,74.55,74,34,3.38

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hambantota,LK,2021-10-28 00:28:10,6.1241,81.1185,75.54,100,100,4.61
9,9,Sibolga,ID,2021-10-28 00:28:12,1.7427,98.7792,76.98,84,89,2.15
16,16,San Jose,US,2021-10-28 00:27:19,37.3394,-121.8950,75.18,67,1,3.00
23,23,Kapaa,US,2021-10-28 00:28:16,22.0752,-159.3190,83.19,70,1,1.99
24,24,Sinnamary,GF,2021-10-28 00:26:05,5.3833,-52.9500,77.94,87,51,7.58
38,38,Hilo,US,2021-10-28 00:28:22,19.7297,-155.0900,82.13,67,1,10.36
43,43,Vaini,TO,2021-10-28 00:28:23,-21.2000,-175.2000,78.96,83,20,12.66
46,46,Dwarka,IN,2021-10-28 00:28:24,22.2394,68.9678,80.22,56,5,10.76
56,56,Avarua,CK,2021-10-28 00:28:27,-21.2078,-159.7750,75.25,69,75,10.36
57,57,Victoria,HK,2021-10-28 00:27:07,22.2855,114.1577,79.03,78,86,3.00

In [24]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3   Hambantota      LK     75.54   6.1241   81.1185
9      Sibolga      ID     76.98   1.7427   98.7792
16    San Jose      US     75.18  37.3394 -121.8950
23       Kapaa      US     83.19  22.0752 -159.3190
24   Sinnamary      GF     77.94   5.3833  -52.9500
38        Hilo      US     82.13  19.7297 -155.0900
43       Vaini      TO     78.96 -21.2000 -175.2000
46      Dwarka      IN     80.22  22.2394   68.9678
56      Avarua      CK     75.25 -21.2078 -159.7750
57    Victoria      HK     79.03  22.2855  114.1577

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hambantota,LK,75.54,6.1241,81.1185,Bungalow 63
9,Sibolga,ID,76.98,1.7427,98.7792,Hotel Syariah CN Darussalam
16,San Jose,US,75.18,37.3394,-121.8950,The Westin San Jose
23,Kapaa,US,83.19,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Sinnamary,GF,77.94,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
38,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
43,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
46,Dwarka,IN,80.22,22.2394,68.9678,Hotel Narayan Avezika Comfort
56,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
57,Victoria,HK,79.03,22.2855,114.1577,Mini Hotel Central

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))